body {
    font-family: 'Inter', sans-serif;
    background-color: #fdfaf7;
    color: #332d29;
}
.nav-link.active {
    color: #c28e67;
    font-weight: 700;
}
.card-bg {
        background-color: #fffbf7;
}
.highlight-text {
    color: #a67b5b;
}
.btn-primary {
    background-color: #a67b5b;
    color: #ffffff;
    transition: background-color 0.3s;
}
.btn-primary:hover {
    background-color: #8c6649;
}
.btn-secondary {
    background-color: #e8e2dd;
    color: #332d29;
    transition: background-color 0.3s;
}
.btn-secondary.active, .btn-secondary:hover {
    background-color: #c28e67;
    color: #ffffff;
}
.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}